{{ define "articles" }}

{{ template "header"}}

<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <br>
                    <a href="/articles/create/" type="button" class="btn  btn-outline-secondary">Add new article</a>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contact me</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/vladislavs-potapkins-346744294/" class="text-white">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <h1>Articles</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main" class="inner cover">

    {{ range . }}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ .Image }}" /> <br>
            <div class="card-body">
                <h3 class="card-text">{{ .Title }}</h3>
                <p class="card-text">{{ .Anons }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/articles/posts/{{ .Id }}/" class="btn btn-sm btn-outline-secondary">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>

    {{ else }}
    <p class = "lead"> Статей нет </p>
    {{ end }}

</main>

<footer class="text-body-secondary py-5">
    <div class="container">

        <p class="float-end mb-1">
            <a type="button" type="button" class="btn btn-outline-secondary" href="/">Back to main page</a>
        </p>
    </div>
</footer>
<script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

{{ end }}