{{ define "index" }}

{{ template "header" }}

<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About</h4>
          <p class="text-body-secondary">This is my portfolio where you can see some of my finished projects.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact me</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/vladislavs-potapkins-346744294/" class="text-white">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Vladislavs Potapkins Portfolio</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My Projects</h1>
        <p class="lead text-body-secondary">Choose a project that interests you and enjoy its work. If you are curious about how and why it works the way it does, I will gladly wait for you in my <a class="text-black" href="https://github.com/VladislavsPotapkins">GitHub</a> repositories.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Tic_tac_toe.svg" />
            <div class="card-body">
              <h3 class="card-text text-center">Tic-Tac-Toe</h3>
              <p class="card-text text-center">If you and your friend have nothing to do, find out who is the coolest in the well-known game - Tic-Tac-Toe</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/Tic-Tac-Toe/" type="button" class="btn btn-outline-secondary">Play</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://bibloid.ru/article/images/5.5_(2).png" /><br>
            <h3 class="card-text text-center">Articles</h3>
            <div class="card-body">
              <p class="card-text">Try your hand at being a popular reporter and post your news, stories or thoughts.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/articles/" type="button" class="btn btn-sm btn-outline-secondary">Try</a>
                </div>
              </div>
            </div>
          </div>
        </div>


          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Nothing Here</text></svg>
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Nothing Here</text></svg>
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
          </div>




      </div>
    </div>
  </div>
  </div>

</main>

{{ template "footer" }}
{{ end }}
